body {
    font-size: 17px;
    line-height: 24px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Cuprum";
}

main {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans";
}

.product {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: Bold;
    font-family: "PT Sans";
}

s {
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    font-weight: Bold;
    font-family: "PT Sans";
}
